asgiref==3.5.2
backports.zoneinfo==0.2.1
Django==4.1.1
django-cors-headers==3.13.0
django-countries==7.4.2
djangorestframework==3.14.0
PyJWT==2.5.0
pytz==2022.2.1
sqlparse==0.4.3
typing_extensions==4.4.0
